:root {
  /* กำหนดสีหลัก*/
  --primary-color: #1a73e8; /* สีน้ำเงิน Google */
  --bg-color: #f3f6fc; /* สีพื้นหลังเทาฟ้าอ่อน */
  --surface-color: #ffffff; /* สีพื้นหลังกล่อง */
  --text-main: #202124; /* สีตัวหนังสือหลัก (ดำเทา) */
  --text-secondary: #5f6368; /* สีตัวหนังสือรอง (เทา) */
  --border-color: #e0e0e0; /* สีเส้นขอบ */
  --hover-bg: #f1f3f4;
  --danger-color: #d93025;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  background-color: var(--bg-color);
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* ป้องกัน Scroll ซ้อน */
}

/* ล้างค่า Default ของ HTML */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  font-family: inherit;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #dadce0;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
